@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --brand-background: #fdfbf7;
  --brand-foreground: #101828;
  --brand-muted: #475467;
  --brand-accent: #0c8c5f;
}

body {
  background-color: var(--brand-background);
  color: var(--brand-foreground);
}

::selection {
  background: rgba(12, 140, 95, 0.2);
}
